<app-header></app-header>

	<div class="order-section-page">
		<div class="ordering-form">
			<div class="container">
			<div class="order-form-head text-center wow bounceInLeft" data-wow-delay="0.4s">
						<h3>Restaurant Order Form</h3>
						<p>Ordering Food Was Never So Simple !!!!!!</p>
					</div>
				<div class="col-md-6 order-form-grids">
					
					<div class="order-form-grid  wow fadeInLeft" data-wow-delay="0.4s">
						<h5>Address Information</h5>
						<span>Street Name</span>
						<div class="dropdown-button">           			
            <input type="text" class="text"><br>                  
					</div>
		      <span>Landmark Location</span>
					  <div class="dropdown-button wow">           			
            <input type="text" class="text"><br>
					</div>
					<span>District</span>
						<div class="dropdown-button">           			
            <input type="text" class="text"><br>                  
					</div>
					<span>cuisine-name</span>
					  <div class="dropdown-button">           			
            <input type="text" class="text"><br>              
					</div>
					<div class="wow swing animated" data-wow-delay= "0.4s">
					  <input type="button" value="Delivery">
					</div>
					</div>
				</div>
				<div class="col-md-6 wow bounceIn" data-wow-delay="0.4s">
          <div class="col-md-12 order-form-grids">
            <div class="order-form-grid  wow fadeInLeft" data-wow-delay="0.4s">
              <h5>Old Address Information</h5>
              <div class="dropdown-button">           			
              <input type="text" class="text"><br>                  
            </div>
            </div>
          </div>					
				</div>
			</div>
		</div>
