<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main p80">
    <h1 class="page-header">Dashboard</h1>



              <!-- Content Row -->
              <div class="row">

                <!-- Vendors  -->
                <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">No of Vendors</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{noOfVendors}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    

                 <!-- User -->
                 <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">No of Users</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{noOfUser}}</div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>    
              <!-- Content Row -->
    

  </div>
