<div class="profile-card">
  <mat-card>
    <div class="text-center">
      <h4 style="font-family: sans-serif;font-size: x-large;font-weight: bold;">Item Details</h4>
    </div>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Item_Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </th>
          <td mat-cell *matCellDef="let row"> {{row.item_id}} </td>
        </ng-container>
        <ng-container matColumnDef="Item_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
          <td mat-cell *matCellDef="let row"> {{row.item_name}} </td>
        </ng-container>
        <ng-container matColumnDef="Item_Available_At">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Available At </th>
          <td mat-cell *matCellDef="let row"> {{row.item_available_at}} </td>
        </ng-container>
        <ng-container matColumnDef="Item_Price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Price </th>
          <td mat-cell *matCellDef="let row"> {{row.item_price}} </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit Item </th>
          <td mat-cell *matCellDef="let row"><button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon" (click)=editItem(row.item_id)>edit
              </mat-icon>
            </button></td>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete Item </th>
          <td mat-cell *matCellDef="let row"><button mat-icon-button>
              <mat-icon aria-label="Example icon-button with a heart icon" (click)=deleteItem(row.item_id)>delete
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>