/*
   * Top navigation
   * Hide default border to remove 1px line.
   */
   .navbar-fixed-top {
    border: 0;
  }

  .navbar-inverse .navbar-brand{
    color: #ffffff;
  }
  .head-top{
    background-color: #663366 !important;
  }
  
  