<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main p80">

    <form class="form-horizontal" novalidate=""  [formGroup]="profileForm" (ngSubmit)="updateUser()" >  

  <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name</label>
      <div class="col-sm-6">
        <input type="text" formControlName="name"
         name="name"
          class="form-control" id="name" placeholder="Enter Name">
      </div>
    </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-6">
      <input type="email" formControlName="email_address"   class="form-control" id="email" placeholder="Enter email" required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-6"> 
      <input type="password" formControlName="password" readonly class="form-control" id="pwd" placeholder="Enter password" required>
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Change Password:</label>
      <div class="col-sm-6"> 
        <input type="password" formControlName="change_pwd"  class="form-control" id="pwd" placeholder="Change password" required>
      </div>
    </div>

  <div class="form-group">
      <label class="control-label col-sm-2" for="contactNumber">Contact Number:</label>
      <div class="col-sm-6"> 
        <input type="text" name="contactNumber" formControlName="contact_number"  class="form-control" id="contactNumber" placeholder="Enter Contact Number" required>
      </div>
    </div>
 
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit"  [disabled]="!profileForm.valid" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>