<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li  routerLinkActive="active">
        <a routerLink="/deliveryboy/home" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active"><a routerLink="/deliveryboy/vendor" href="">Vendor</a></li>
      <li routerLinkActive="active"><a routerLink="/deliveryboy/user" href="">User</a></li>
      <li routerLinkActive="active"><a routerLink="/deliveryboy/delivery" href="">Delivery Boy</a></li>
    </ul>
  
  </div>